@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    &:focus {
        outline: none;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #98b1e6;
}

.Login {
    background: linear-gradient(to top left, #142952 50%, #0f1e3e 50%);
    border-radius: 15px;
    width: 400px;
    height: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .header {
        padding-top: 20px;
        margin-bottom: 0;
        h1 {
            border-bottom: 4px solid #fff;
            color: #fff;
            margin: 30px 130px 30px;
            font-weight: 900;
        }
        .icons {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-bottom: 15px;
            a {
                margin: 0 20px;
                font-size: 18px;
                font-weight: 400;
                color: #000;
                background-color: #fff;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 10px 15px;
                transition: 300ms background-color;
                &:hover {
                    background-color: #98b1e6;
                }
            }
        }
        p {
            text-align: center;
            color: #fff;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                label {
                    input {
                        width: 316px;
                        height: 44px;
                        padding: 12px;
                        margin: 8px 20px;
                        border: 1px solid #000;
                        background-color: rgba(#fff, 0.4);
                        &::placeholder {
                            font-size: 14px;
                            color: rgba(#000, 0.4);
                        }
                        &:focus {
                            border-radius: 5px;
                            border: 2px solid #ccc;
                        }
                    }
                }
            }
            .form-alt {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h6 {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    cursor: pointer;
                }
                button {
                    width: 112px;
                    height: 40px;
                    border-radius: 30px;
                    padding: 10xp 40px;
                    color: #000;
                    background-color: #efefef;
                    &:hover {
                        background-color: #98b1e6;
                    }
                }
            }
        }
    }
}
